# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual env
.venv/
env/
venv/

# Jupyter notebooks
.ipynb_checkpoints/

# Data files
data/
*.csv

# Ignore everything in data
data/*
# EXCEPT this one file
!data/final_pairs.csv


# VSCode/IDE
.vscode/
.idea/

# MacOS garbage
.DS_Store
